* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}
.mobile-links {
    text-decoration: none;
    color: #1bc78a;
}
.img_home {
    /* border-radius: 50%; */
    clip-path: polygon(44% 4%, 80% 10%, 98% 35%, 97% 70%, 95% 92%, 50% 100%, 29% 87%, 7% 71%, 5% 37%, 16% 9%);

}
.mobile_links_home {
    color: #000000;
    text-decoration: none;
}
.iconSize{
    font-size:xx-large;
    cursor: pointer;
}
.iconStyle {
    padding-left: 20px;
}
.btn_style{
    color: #1bc78a;
    background-color: rgb(255, 255, 255);
    margin-top: 9px;
    padding: 5px 15px;
    font-size: 19px;
    border: #1bc78a 1px solid;
    border-radius: 25px;
    transition: all 0.5s;
}
.btn_style:hover{
    background-color: #1bc78a;
    color: white;
    cursor: pointer;
}

/*  loader */

.loader {
 
    height: 40px;
    aspect-ratio: 1.5;
    --c: #1bc78a 96%,#0000;
    background:
      radial-gradient(farthest-side at 100% 100%,var(--c)),
      radial-gradient(farthest-side at 0    100%,var(--c)),
      radial-gradient(farthest-side at 100% 0   ,var(--c)),
      radial-gradient(farthest-side at 0    0   ,var(--c));
    background-size: 33.4% 50%;
    background-repeat: no-repeat;
    animation: l9 2s infinite linear;
  }
  @keyframes l9 {
    0%    {background-position:0 0,50% 0,0 100%,50% 100%}
    12.5% {background-position:0 0,100% 0,0 100%,50% 100%}
    25%   {background-position:50% 0,100% 0,0 100%,50% 100%}
    37.5% {background-position:50% 0,100% 0,0 100%,100% 100%}
    50%   {background-position:50% 0,100% 0,50% 100%,100% 100%}
    62.5% {background-position:0 0,100% 0,50% 100%,100% 100%}
    75%   {background-position:0 0,50% 0,50% 100%,100% 100%}
    87.5% {background-position:0 0,50% 0,0 100%,100% 100%}
    100%  {background-position:0 0,50% 0,0 100%,50% 100%}
    
  }
  
  /*  about_section */


  .about_section {
    background-color: #e7faf4;
  }

  .anim {
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000000, #1bc78a, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }

  /* Home section */

  .app {
  /* min-width: 100vw; */
  /* min-height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.tag-list {
  width: 30rem;
  max-width: 90vw;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  gap: 1rem 0;
  position: relative;
  padding: 1.5rem 0;
  overflow: hidden;
}

.loop-slider {
  .inner {
    display: flex;
    width: fit-content;
    animation-name: loop;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: var(--direction);
    animation-duration: var(--duration);
  }
}

.tag {
  display: flex;
  align-items: center;
  gap: 0 0.2rem;
  color: #e2e8f0;
  font-size: 0.9rem;
  background-color: #334155;
  border-radius: 0.4rem;
  padding: 0.7rem 1rem;
  margin-right: 1rem; 
  box-shadow: 
    0 0.1rem 0.2rem rgb(0 0 0 / 20%),
    0 0.1rem 0.5rem rgb(0 0 0 / 30%),
    0 0.2rem 1.5rem rgb(0 0 0 / 40%);
  
  span {
    font-size: 1.2rem;
    color: #64748b;
  }
}

.fade {
  pointer-events: none;
  /* background: linear-gradient(90deg, #1e293b, transparent 30%, transparent 70%, #1e293b); */
  position: absolute;
  inset: 0;
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
  
  
.main{
    /* height:100vh; */
    width:100%;  
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
  }
  
  .roller{
    height: 4.125rem;
    line-height: 4rem;
    position: relative;
    overflow: hidden; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: #1D3557;
  }
  
  
  #spare-time{
    font-size: 1rem;
    font-style: italic;
    letter-spacing: 0.3rem;
    margin-top: 0;
    color: #1bc78a;
    
  }
  
  .roller #rolltext {
    position: absolute;
    top: 0;
    animation: slide 5s infinite;  
  }
  
  @keyframes slide {
    0%{
      top:0;
    }
    25%{
      top: -4rem;    
    }
    50%{
      top: -8rem;
    }
    72.5%{
      top: -12.25rem;
    }
  }
  
  @media screen and (max-width: 600px){
    
    .roller{
    height: 2.6rem; 
    line-height: 2.125rem;  
    }
    
    #spare-time {
      font-size: 1rem;
      letter-spacing: 0.1rem;
    }
    
    .roller #rolltext {  
    animation: slide-mob 5s infinite;  
  }
    
    @keyframes slide-mob {
    0%{
      top:0;
    }
    25%{
      top: -2.125rem;    
    }
    50%{
      top: -4.25rem;
    }
    72.5%{
      top: -6.375rem;
    }
  }
  }


  