* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}
.mobile-links {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}
.img_home {
    border-radius: 50%;
}
.mobile_links_home {
    color: white;
    text-decoration: none;
}
.iconSize{
    font-size:xx-large;
}
.iconStyle {
    padding-left: 20px;
}
